* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

html {
  margin: 0 auto;
  scroll-behavior: smooth; }

body {
  min-width: 320px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  padding: 0 1rem; }
  .header .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem; }
    .header .header__container .nav-bar .nav-bar__container {
      display: none; }
    .header .header__container .nav-bar .nav-bar__burger-menu {
      width: 50px;
      height: 30px;
      position: relative;
      align-self: center;
      padding: 0 1rem 1rem 0;
      cursor: pointer; }
      .header .header__container .nav-bar .nav-bar__burger-menu #span1,
      .header .header__container .nav-bar .nav-bar__burger-menu #span2,
      .header .header__container .nav-bar .nav-bar__burger-menu #span3 {
        position: absolute;
        content: "";
        background-color: #111111;
        width: 30px;
        height: 3px;
        border-radius: 3px;
        transition: all 400ms ease; }
      .header .header__container .nav-bar .nav-bar__burger-menu #span2 {
        top: 11px; }
      .header .header__container .nav-bar .nav-bar__burger-menu #span3 {
        top: 22px; }
    .header .header__container .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem; }
      .header .header__container .logo .logo__sm {
        width: 25px;
        height: 25px; }
      .header .header__container .logo .logo__lg {
        width: 75px;
        height: 50px; }
  .header .container-right {
    gap: 2rem; }

.main .main__container {
  display: block;
  background: #333333;
  color: #ffffff;
  height: 531px;
  align-items: flex-start;
  padding: 2rem 1rem;
  gap: 1rem; }
  .main .main__container h3 {
    font-family: "Archivo", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 18px;
    letter-spacing: 2.8px;
    padding: 2rem 4rem 0 1rem;
    margin-bottom: 1.5rem; }
  .main .main__container h2 {
    font-family: "Old Standard TT", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 60px;
    letter-spacing: -1.2px;
    padding: 1rem;
    margin-bottom: 1.5rem; }
  .main .main__container .btn {
    background: #bead8e;
    font-family: "Archivo", sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 15px;
    letter-spacing: 2.8px;
    padding: 1rem 2rem; }
  .main .main__container .btn-container {
    display: block;
    padding: 1rem 4rem 1rem 1rem; }
    .main .main__container .btn-container .btn {
      background: #bead8e;
      font-family: "Archivo", sans-serif;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.875rem;
      line-height: 15px;
      letter-spacing: 2.8px;
      padding: 1rem 2rem;
      margin-bottom: 1rem; }
      .main .main__container .btn-container .btn--transparent {
        background: transparent;
        border: 2px solid #ffffff54; }
  .main .main__container--dates {
    background: #222222;
    height: 354px; }
    .main .main__container--dates .main__container__date {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      align-items: flex-start;
      width: 100%; }
      .main .main__container--dates .main__container__date p {
        padding-bottom: 1rem; }
      .main .main__container--dates .main__container__date .date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem; }
        .main .main__container--dates .main__container__date .date p {
          font-family: "Roboto", sans-serif;
          color: #686868;
          font-style: normal;
          font-weight: 400;
          font-size: 0.875rem;
          line-height: 1rem;
          padding-bottom: 0; }
      .main .main__container--dates .main__container__date .line-divider {
        content: "";
        border-top: 1px solid #bead8e;
        height: 2px;
        width: 100%;
        padding: 0;
        margin: 20px auto 0 auto; }
    .main .main__container--dates .btn {
      margin: 1rem 2rem 0 1rem;
      padding: 1.2rem 1rem; }

.about-us {
  display: block;
  padding: 1rem; }
  .about-us h3 {
    font-family: "Archivo", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.813rem;
    line-height: 18px;
    text-align: left;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #777777;
    padding: 2rem 0.5rem; }
  .about-us h2 {
    font-family: "Old Standard TT", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 3.75rem;
    letter-spacing: -1.2px;
    color: #111111;
    text-align: left;
    padding: 0.5rem; }
  .about-us p {
    font-family: "Archivo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875;
    line-height: 1.5;
    color: #777777;
    padding: 1rem 0.5rem; }
  .about-us .btn {
    background: #bead8e;
    font-family: "Archivo", sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 15px;
    letter-spacing: 2.8px;
    padding: 1rem 2rem;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem 0.5rem; }
  .about-us .about-us__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%; }
    .about-us .about-us__container img {
      width: 100%; }
    .about-us .about-us__container .about-us__container__description {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding: 3rem 0 2rem 0;
      gap: 1rem; }
      .about-us .about-us__container .about-us__container__description img {
        padding: 0;
        width: 68px;
        height: 50px; }
      .about-us .about-us__container .about-us__container__description .team-icon {
        position: absolute;
        bottom: 106px;
        left: 150px;
        width: 100px;
        height: 133px;
        z-index: -1; }
      .about-us .about-us__container .about-us__container__description h4 {
        font-family: "Old Standard TT", serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 30px;
        letter-spacing: -0.9px;
        color: #111111; }
      .about-us .about-us__container .about-us__container__description p {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 0.875;
        line-height: 1.375;
        text-align: center;
        color: #111111;
        padding: 0 2rem; }
      .about-us .about-us__container .about-us__container__description--black {
        background-color: #222222;
        padding: 3rem 0; }
        .about-us .about-us__container .about-us__container__description--black h4 {
          color: #ffffff; }
        .about-us .about-us__container .about-us__container__description--black p {
          color: #ffffff; }

.rooms {
  position: relative; }
  .rooms h3 {
    font-family: "Archivo", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.875;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #777777;
    text-align: center;
    padding-bottom: 1.5rem; }
  .rooms h2 {
    font-family: "Old Standard TT", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 3.75rem;
    text-align: center;
    letter-spacing: -1.2px;
    color: #222222;
    padding-bottom: 2rem; }
  .rooms .room__facilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 40px;
    left: 42px;
    top: 168px;
    justify-content: space-around;
    width: 80%;
    background: #ffffff;
    align-self: center;
    box-shadow: 0px 8px 16px #8b8b8b; }
  .rooms .slider {
    height: 244px;
    background-color: gray; }
  .rooms .room__information {
    height: 250px; }
    .rooms .room__information .room__information__container {
      height: 215px;
      width: 90%;
      background: #ffffff;
      position: absolute;
      left: 20px;
      top: 400px; }
      .rooms .room__information .room__information__container h4 {
        font-family: "Old Standard TT", serif;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 2.25rem;
        letter-spacing: -1.2px;
        color: #222222;
        padding: 1rem 0; }
      .rooms .room__information .room__information__container p {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        text-align: center;
        color: #777777;
        padding: 0 4rem; }
      .rooms .room__information .room__information__container .room__price {
        font-family: "Archivo", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.688;
        text-align: center;
        color: #bead8e;
        text-align: center; }
      .rooms .room__information .room__information__container .room__price--sm {
        font-size: 1rem; }

.intro-video {
  background: #222222; }
  .intro-video h3 {
    font-family: "Archivo", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #bdac8d;
    text-align: left;
    padding: 2rem 1rem; }
  .intro-video h2 {
    font-family: "Old Standard TT", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 3.75rem;
    letter-spacing: -1.2px;
    color: #ffffff;
    padding: 0 3rem 0 1rem; }
  .intro-video p {
    font-family: "Archivo";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #C2C2C2;
    padding: 1rem 3rem 0 1rem; }
  .intro-video .intro-video__item {
    align-self: center;
    padding: 1rem 1rem 0 1rem; }
  .intro-video .btn {
    background: #bead8e;
    font-family: "Archivo", sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 15px;
    letter-spacing: 2.8px;
    padding: 1rem 2rem;
    margin: 1rem 3rem 2rem 1rem; }

.facilities h3 {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.938rem;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #777777;
  text-align: center;
  padding: 2rem; }

.facilities h2 {
  font-family: "Old Standard TT", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: -1.2px;
  color: #222222;
  text-align: center; }

.facilities .facilities__container {
  position: relative; }
  .facilities .facilities__container .facilities__icon {
    position: absolute;
    left: 52px;
    bottom: 235px; }
  .facilities .facilities__container .facilities__icon--1 {
    position: absolute;
    right: 40px;
    bottom: 285px; }
  .facilities .facilities__container h4 {
    font-family: "Old Standard TT", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 1.875rem;
    letter-spacing: -0.9px;
    color: #222222;
    padding: 2rem;
    margin-top: 160px; }
  .facilities .facilities__container p {
    font-family: "Archivo", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #777777;
    padding: 0 5rem 0rem 2rem; }
  .facilities .facilities__container .facilities__slider-dots {
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 10px; }
    .facilities .facilities__container .facilities__slider-dots .dot {
      cursor: pointer;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border: none;
      background-color: #EDEDED; }
    .facilities .facilities__container .facilities__slider-dots .active {
      background-color: #bead8e; }

.footer {
  gap: 1.2rem;
  background: #f8f8f8;
  height: 94px;
  padding: 1rem 1.5rem; }
  .footer .footer__copyrigth {
    padding-bottom: 1rem; }
    .footer .footer__copyrigth p {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.188rem;
      letter-spacing: -0.03rem;
      color: #222222; }
  .footer .footer__policies {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer__policies a {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.188rem;
      letter-spacing: -0.03rem;
      color: #222222; }
