@mixin p-footer() {
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.188rem;
  letter-spacing: -0.03rem;
  color: $black;
}

.footer {
  margin-top: 4rem;
  gap: 1.2rem;
  background: url(../../assets/icons/footer/background.svg);

  .footer__container {
    padding: 0 1rem;
    .footer__information {
      display: block;
      padding: 1rem;

      .footer__information__logo {
        @include flex-row-between-center;
        justify-content: flex-start;
        gap: 1rem;
        .sm-logo-container {
          position: relative;
          width: 80px;
          height: 80px;
          background: $beige-light;
          box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.15);
          .sm-logo {
            position: absolute;
            bottom: 17px;
            left: 25px;
            color: $white;
            font-family: $font-text;
            font-style: normal;
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 43px;
          }
        }
        .lg-logo {
          width: 120px;
        }
      }

      .footer__information__description {
        font-family: $font-text;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.625;
        padding: 2rem 0;
        color: $grey-text;
      }

      .social-icons__container {
        @include flex-row-between-center;
        justify-content: space-evenly;
        justify-content: flex-start;
        gap: 0.5rem;

        .social-icon__item {
          .twitter-icon {
            filter: invert(50%);
          }
        }
        
        .social-icon__item {
          width: 40px;
          height: 40px;
          position: relative;
          transition: 0.5s;

          img {
            margin: auto;
            position: absolute;
            bottom: 7px;
            left: 7px;
          }
          
          &:hover {
            background-color: $beige-light;
            img { 
              filter: brightness(0) invert(1);
            }
          }
        }
      }
    }

    .footer__services {
      padding-top: 1rem;
      h6 {
        font-family: $font-title;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 1rem;
      }

      .footer__services__container {
        @include flex-row-between-center;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 2rem;
        p {
          font-family: $font-roboto;
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 3rem;
          color: $grey-text;
        }
      }
    }

    .footer__contact-us {
      padding: 2rem 0;
      h6 {
        font-family: $font-title;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 0 1rem;
      }

      .contact-us__container {
        padding: 2rem 1rem;
        @include flex-row-between-center;
        justify-content: flex-start;
        gap: 1rem;

        .information__container__item {
          font-family: $font-text;
          font-style: normal;
          font-weight: 400;
          font-size: 1.25rem;
          line-height: 1.5rem;
          color: $black;
        }

        .information__container__item-sm {
          color: $grey-text;
          padding-top: 2px;
        }
      }
    }
  }

  .footer__copyright-policies {
    background: $grey-footer;
    padding: 1rem 2rem;
    .footer__copyright {
      padding-bottom: 1rem;

      p {
        @include p-footer;
      }
    }

    .footer__policies {
      @include flex-row-between-center;
      a {
        @include p-footer;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .footer {
    .footer__container {
      width: 80%;
      margin: 0 auto;
      padding: 3rem 0 2rem 0;
      @include flex-row-between-center;
      justify-content: space-evenly;
      align-items: stretch;

      .footer__information {
        width: 25%;
      }

      .footer__services {
        width: 30%;

        display: block;
        h6 {
          text-align: left;
        }

        .footer__services__container {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          gap: 2rem;
        }
      }

      .footer__contact-us {
        width: 25%;
      }
    }

    .footer__copyright-policies {
      @include flex-row-between-center;
      justify-content: center;
      align-items: center;

      .footer__copyright {
        padding: 0;
        width: 40%;

        p {
          padding: 0;
        }
      }

      .footer__policies {
        width: 40%;
        justify-content: flex-end;
        gap: 1rem;
      }
    }
  }
}
