.header {
  @include flex-row-between-center;
  width: 100%;
  height: 70px;
  background: $white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
  padding: 0 1rem;

  .header__container {
    @include flex-row-between-center;
    gap: 3rem;

    .nav-bar {
      .nav-bar__container {
        display: none;
      }

      .nav-bar__burger-menu {
        width: 50px;
        height: 30px;
        position: relative;
        align-self: center;
        padding: 0 1rem 1rem 0;
        cursor: pointer;

        #span1,
        #span2,
        #span3 {
          position: absolute;
          content: "";
          background-color: $black-text;
          width: 30px;
          height: 3px;
          border-radius: 3px;
          transition: all 400ms ease;
        }

        #span2 {
          top: 11px;
        }
        #span3 {
          top: 22px;
        }
      }
    }

    .logo {
      @include flex-row-between-center;
      gap: 1rem;

      .logo__sm {
        width: 25px;
        height: 25px;
      }

      .logo__lg {
        width: 75px;
        height: 50px;
      }
    }
  }

  .container-right {
    gap: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    @include flex-row-between-center;
    width: 80%;
    margin: 0 auto;
    height: 120px;
    box-shadow: none;
    padding: 0 2rem;
    position: absolute;
    top: 40px;
    left: 11%;

    .header__container {
      @include flex-row-between-center;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 3rem;
      
      .nav-bar {
        .nav-bar__container {
          @include flex-row-between-center;
          .nav-bar__ul {
            display: flex;
            gap: 1rem;

            .ul__a {
              font-family: $font-text;
              font-style: normal;
              font-weight: 600;
              font-size: 1rem;
              line-height: 17px;
              color: $black;
              margin-right: 2rem;
            }
          }
        }

        .nav-bar__burger-menu {
          display: none;
        }
      }
    }

    .container-right {
      flex-direction: inherit;
      gap: 1.5rem;

      .icon-container {
        position: relative;
        width: 60px;
        height: 60px;
        border: 2px solid rgba(133, 133, 133, 0.3);

        .icon {
          position: absolute;
          top:18px;
          left: 18px;
        }
      }
    }
  }
}
