@mixin p-footer() {
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.188rem;
  letter-spacing: -0.03rem;
  color: $black;
}

.footer {
  gap: 1.2rem;
  background: url(../../assets/icons/footer/background.svg);

  .footer_logo {
    @include flex-row-between-center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    .sm-logo-container {
      position: relative;
      width: 80px;
      height: 80px;
      background: $beige-light;
      box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.15);
      .sm-logo {
        position: absolute;
        bottom: 17px;
        left: 25px;
        color: $white;
        font-family: $font-text;
        font-style: normal;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 43px;
      }
    }
    .lg-logo {
      width: 120px;
    }
  }

  .footer_description {
    font-family: $font-text;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625;
    padding: 1rem;
    color: $grey-text;
  }

  .social-icons__container {
    @include flex-row-between-center;
    justify-content: flex-start;
    padding: 1rem 2rem;
    gap: 1rem;

    .social-icon__logo--selected  {
      position: relative;
      width: 40px;
      height: 40px;
      background: $beige-light;
      padding-right: 2rem;

      .sm-logo__twitter{
        position: absolute;
        bottom: 8px;
        left: 8px;
      }
    }

    img {
      // padding-right: 3rem;
    }
  }

  .footer_services {
    h6 {
      font-family: $font-title;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.5rem;
      padding: 1rem;
    }

    .footer__services__container {
      padding: 0 1rem;
      @include flex-row-between-center;
      align-items: flex-start;
      .services_item {
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 3rem;
        color: $grey-text;
      }
    }
  }

  .footer_contact-us {
    h6 {
      font-family: $font-title;
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: $black;
      padding: 0 1rem;
      padding-top: 2rem;
    }

    .contact-us__container {
      padding: 2rem 1rem;
      @include flex-row-between-center;
      justify-content: flex-start;
      gap: 1rem;

      .information_container_item {
        font-family: $font-text;
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.5rem;
        color: $black;
      }

      .information_container_item-sm {
        color: $grey-text;
        padding-top: 2px;
      }
    }
  }

  .footer__copyrigth-policies {
    background: $grey-footer;
    padding: 1rem;
    .footer__copyrigth {
      padding-bottom: 1rem;

      p {
        @include p-footer;
      }
    }

    .footer__policies {
      @include flex-row-between-center;
      a {
        @include p-footer;
      }
    }
  }
}
