@media screen and (min-width: 1000px) {
  .intro-video {
    display: flex;
    justify-content: center;
    position: relative;
    height: 700px;
    width: 100%;
    // padding-left: 10%;

    .intro-video__container {
      position: relative;
      background: $black;
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 10%;
      margin: 0 auto;
      h2 {
        font-size: 5rem;
        line-height: 5.313rem;
        letter-spacing: -2.4px;
      }

      p {
        margin-right: 5rem;
      }

      .intro-video__item--hidden {
        display: none;
      }

      .btn {
      }

      &--right {
        position: relative;
        width: 30%;
        height: 700px;
        background: $brown-video;

        .intro-video__item {
          position: relative;
          width: 570px;
          height: 460px;

          iframe {
            position: absolute;
            width: 570px;
            height: 460px;
            top: 0px;
            right:  110px;
            z-index: 1;
          }
        }
      }
    }
  }
}
