@media screen and (min-width: 1000px) {
  .rooms {
    width: 100%;
    h3 {
    }

    h2 {
      padding-bottom: 4rem;
      font-size: 5rem;
      line-height: 5rem;
      letter-spacing: -2.4px;
    }

    .room__facilities {
      left: 35%;
      top: 18.5%;
      width: 30%;
    }

    .slider {
      height: 500px;
      display: flex;
      justify-content: center;
    }

    .menu__navigation {
      left: 6%;
      top: 50%;

      //   .navigation__item {
      //     &--rigth {
      //     }
      //   }
    }

    .room__information {
      height: 190px;
      width: 100vw;
      position: relative;
      .room__information__container {
        @include flex-row-between-center;
        align-items: flex-start;
        padding: 1.5rem 1rem;
        max-width: 690px;
        left: 32%;
        top: -30%;
        gap: 2rem;

        h4 {
          font-size: 2.25rem;
          line-height: 2.25rem;
          padding: 0 1rem 1rem 1rem;
          text-align: left;
        }
        p {
          text-align: left;
          padding: 0 1rem;
        }
        .room__price {
          display: flex;
          align-items: center;
          font-size: 2.5rem;
        }

        .room__price--sm {
          padding: 0.5rem 2rem 0 0;
        }
      }
    }
  }
}
