@media screen and (min-width: 1000px) {
  .annoucement {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 100px;
    background: $black;
    p {
        width: 80%;
        margin: 0 auto;
        color: $white;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.188rem;
        padding: .5rem;
    }
  }
}
