* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    margin: 0 auto;
    scroll-behavior: smooth;
}

body {
   min-width: 320px;
}